#{extends 'main.html' /}
#{set title:l.name /}
#{set 'moreScripts'}
<script type="text/javascript" src="//raw.github.com/addywaddy/jquery.tagcloud.js/master/jquery.tagcloud.js"></script>
#{/set}

<div class="container">
	<div class="row-fluid">
		<div class="span4">
            <h6>Github (${l.g_rating})</h6>
            <div class="g">
            #{list l.g_tagMap, as:'tm'}
              <a href="#" rel="${tm.value}">${tm.key}</a>
            #{/list}
          </div>		
		</div>
		<div class="span4">
		  <h4>${l.name}</h4>
          <p>${l.descMarkdown}</p>
		</div>
		<div class="span4">
		  <div class="so">
            <h6>Stackoverflow (${l.so_rating})</h6>
			#{list l.so_tagMap, as:'tm'}
			  <a href="#" rel="${tm.value}">${tm.key}</a>
			#{/list}
		  </div>
		
		</div>
	</div>
</div>

<script>
$.fn.tagcloud.defaults = {
  size: {start: 18, end: 28, unit: 'px'},
  color: {start: '#006633', end: '#D44413'}
};

$(function () {
	$('.g a').tagcloud();
	$('.so a').tagcloud();
});
</script>
<br>
<!-- so_tagMap: ${l.so_tagMap} -->
